<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.BaseCategory1Mapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.product.entity.BaseCategory1">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>

    <resultMap id="RESULT_MAP_CATEGORY_VO" type="com.atguigu.gmall.product.vo.CategoryVo">
        <result column="c1Id" property="categoryId"></result>
        <result column="c1Name" property="categoryName"></result>
        <collection property="categoryChild" ofType="com.atguigu.gmall.product.vo.CategoryVo">
            <result column="c2Id" property="categoryId"></result>
            <result column="c2Name" property="categoryName"></result>
            <collection property="categoryChild" ofType="com.atguigu.gmall.product.vo.CategoryVo">
                <result column="c3Id" property="categoryId"></result>
                <result column="c3Name" property="categoryName"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="findAllCategoryTree" resultMap="RESULT_MAP_CATEGORY_VO">
        select c1.id c1Id , c1.`name` c1Name , c2.id c2Id , c2.`name` c2Name , c3.id c3Id , c3.`name` c3Name from
            base_category1 c1 LEFT JOIN base_category2 c2 on c2.category1_id = c1.id
                              LEFT JOIN base_category3 c3 on c3.category2_id = c2.id
    </select>

    <select id="findCategoryViewBySkuId" resultType="com.atguigu.gmall.product.vo.CategoryView">
        select c3.id category3Id , c3.name category3Name  , c2.id category2Id , c2.`name` category2Name , c1.id category1Id, c1.`name` category1Name
            from base_category3 c3
            LEFT JOIN base_category2 c2 on c3.category2_id = c2.id
            LEFT JOIN base_category1 c1 on c1.id = c2.category1_id
        where c3.id = (select si.category3_id from sku_info si where si.id = #{skuId} )
    </select>

</mapper>
